* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input,
textarea,
button {
  color: #222;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 34px;
  font-weight: 500;
  font-family: "Consolas", sans-serif;
}
.henry {
  margin-bottom: 1%;
}
h2 {
  color: #0080db;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
h4 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.5;
}
h5 {
  font-size: 16px;
  margin: 10px 0;
}
small {
  color: #444;
  position: relative;
  top: -4px;
  display: flex;
  align-items: center;
  line-height: 1;
}
p {
  color: #444;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #0080db;
}
article {
  width: 100%;
  max-width: 794px;
  margin: 0 auto;
  height: 1122px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 15px #eee;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
aside {
  grid-column: 1 / 3;
  background-image: linear-gradient(to bottom right, #def1ff, #edf7ff);
  padding: 10px 11% 35px 20px;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside a {
  display: block;
  margin: 10px 0;
}
aside i {
  color: #222;
  margin-right: 5px;
}
aside section ul {
  position: relative;
  list-style-type: none;
}
aside section li {
  font-size: 16px;
  margin-bottom: 8px;
}
section hr {
  width: 20px;
  border: none;
  border-top: 4px solid #0080db;
  border-radius: 5px;
  margin-bottom: 6px;
}
section div {
  margin: 20px 0;
}
section div h4 {
  margin-bottom: 10px;
}
main {
  padding: 30px 30px 24px;
  grid-column: 3/-1;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section a {
  color: #0080db;
}
main section ul {
  list-style-type: circle;
  padding-left: 20px;
}
main section ul li {
  margin-bottom: 5px;
}

.first-div {
  margin-bottom: 5%;
}

.contact {
  margin-bottom: 10%;
}

.numero {
  margin: 0 1.5% 5% 0;
}

.number {
     color: #0080db;
     display: inline;
}

.email {
  display: inline;
  color: #0080db;
}

.skills {
  margin-bottom: 10%;
}

.frontend, .social, .frameworks {
  margin-bottom: 3%;
}

.div1, .div2, .div3 {
  margin-bottom: 10%;
}

.lista1, .lista2 {
  margin-bottom: 5%;
}

.border-bottom {
  border-bottom: 1px solid #eee;
  margin-bottom: 10%;
}
.languages {
  position: relative;
  top: -12px;
}
.languages h3 {
  margin-bottom: 10px;
}
.languages p {
  line-height: 1.6;
}
